.message_card {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    text-transform: capitalize;
    background-color: #e9e9e9 !important;
    color: #111;
}

.message_user {
    margin-left: auto;
    color: #fff;
    text-align: left !important;
    background-color: #0b81ff !important;
}